@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet&display=swap");

.body{
  background-color: lightslategray;
  max-width: 100%;
  overflow-x: hidden;
}

.icon{
  font-size: 30px;
  color: grey;
  margin-top: 5px;
}

.rowFlex {
	display: flex; 
	flex-direction: row; 
	flex-wrap: nowrap; 
	width: 100%;
    /* background-color: rgba(242, 250, 250, 0.3); */
    background-color: lightgrey;
}

.fondo1{
    /* background: rgba(212, 239, 223); */
    text-align: center;
    /* background-color: lightgrey; */
    background-color: lightslategray;
}

.fondo2{
    /* background-color: blue; */
    /* background-color: lightgrey; */
    background-color: lightslategray;
    /* background: rgba(212, 239, 223); */
}

.navbar{
    justify-content:space-evenly;
}

.navbar li{
    display: flex; 
	  flex-direction: row; 
    /* color: white; */
    color: #1ABC9C;
    font-size: 1.2rem;
    text-align: center;
}

.navbar a{
  color: #1ABC9C;
  /* color: white; */
}

.home{
    width: 100%;
    height: auto;
    /* background-color: lightpink; */
    /* background-color: lightgrey; */
    background-color: lightslategray;
    
    padding-top: 120px;
    padding-bottom: 50px;
    text-align: center;

}

.home h1{
  padding-bottom: 25px;
  color: #1ABC9C;
  /* color: white; */
}

.sobreMi{
    width: 100%;
    height: auto;
    /* background-color: lightgreen; */
}

.sobreMi h3{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.misTrabajos{
    width: 100%;
    height: auto;
    /* background-color: lightsalmon; */
}

.contacto{
    width: 100%;
    height: auto;
    background-color: lightslategray;
}



.footer {
    background: rgba(212, 239, 223);
    overflow-x: hidden;
    padding: 7vmin 22vmin;
    padding-bottom: 10px;
  }
  
  .footer .sp {
    color: #ff512f;
  }
  
  .footer input {
    border: none !important;
  }
  
  .footer input::placeholder {
    color: white !important;
  }
  
  .footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
  }
  
  .footer .column i {
    color: #1ABC9C;
    margin: 0.4rem;
    font-size: 2em;
    transition: color 0.3s linear;
  }
  .footer .column i:hover {
    color: #196F3D;
  }
  
  .footer a.gmail {
    color: #1ABC9C;
    
  }
  
  .footer a.gmail:hover {
    color: #196F3D;
    text-decoration: none;
  }
  
  .footer .column i + i {
    padding: 0 0.5em;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    transition: all 1.5s ease;
  }
  #myBtn {
    display: none;
    position: fixed;
    height: 40px;
    width: 40px;
    z-index: 100;
    bottom: 55px;
    right: 30px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: grey;
    color: #ffff;
    cursor: pointer;
    padding: 0px;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: #404040;
  }



/* Inicio Sección 2 */
.section-2 {
    padding: 8vmin 0vmin;
    min-height: 530px;
  }
  
  .section-2 .row .col-md-5 .pray img {
    /* width: 54%; */
    /* padding: 7vmin 0vmin; */
    width: 75%;
    height: 80%;
    border-radius: 0.2em;
  }
  
  .section-2 .row .col-md-5 .col-md-7:last-child {
    position: relative;
  }
  
  .section-2 .row .col-md-5 .col-md-7 .panel {
    position: absolute;
    top: 7vmin;
    left: -10vmin;
    background: var(--bggradient);
    border-radius: 3px;
    text-align: left;
    padding: 4vmin 4vmin 7vmin 5vmin;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    font-family: var(--Rubik);
    z-index: 1;
  }

  .section-2 h1{
    color: #1ABC9C;
  }
  
  .section-2 .row .col-md-5 .col-md-7 .panel h3 {
    color: whitesmoke;
    font-size: 1.3em;
    font-weight: bold;
  }
  
  .section-2 .row .col-md-5 .col-md-7 .panel h4 {
    color: whitesmoke;
    font-size: 1.2em;
  }
  
  .section-2 .row .col-md-5 .col-md-7 .panel h6 {
    color: whitesmoke;
    font-size: 1em;
  }
  
  .section-2 .row .col-md-5 .col-md-7 .panel p {
    color: whitesmoke;
    font-size: 0.9em;
  }
/* Fin Sección 2 */



/* Inicio Sección 4 */
.section-4{
    /* background-color: lightgray; */
    background-color: lightslategray;
}

.section-4 .container {
    padding-top: 6vmin;
  }
  
  .section-4 h1{
    color: #1ABC9C;
  }
  
  .section-4 .container .secondary-text {
    font-size: 3vmin;
  }
  
  .section-4 .card {
    width: 22em;
    margin: 1.6em;
    margin-top: 5vmin;
    margin-bottom: 10vmin;
    transition: transform 0.3s ease-in-out;
  }
  .section-4 .card:hover {
    transform: scale(1.05);
    
  }
  
  .section-4 .card-body a {
    color: #1ABC9C;
  }
  
  .section-4 .card-body a:hover{
    color: #196F3D;
  }
  
  .section-4 .card .card-text {
    padding: 0.4em;
  }
  
  .section-4 .card-body > a {
    font-size: 1.3em;
  }

  .section-4 .card-img-top{
    width: 100%;
    height: 170px;
  }
  
/* Fin Sección 4 */



/* Inicio Sección 5 */

.section-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 7vmin;
    padding-bottom: 10vmin;
    background-position: center;
    background: var(--bggradient);
    margin: auto;
    
  }
  
  .contact {
   
    width: 40%;
    padding: 4vmin;
    text-align: center;
    padding-top: 2vmin;
    box-sizing: border-box;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    background-color: white;
   
  }
  
  .contact h2 {
    color: #666;
    text-align: center;
    font-size: 30px;
  }
  .input-field {
    position: relative;
    width: 100%;
    margin-top: 50px;
  }
  .input-field input,
  .input-field textarea {
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #666;
    font-size: 12px;
    font-weight: 500;
    resize: none;
  }
  .input-field label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 0;
    pointer-events: none;
    font-size: 12px;
    color: #666;
    font-weight: 700;
    transition: 0.5s;
  }
  .input-field input:focus + label,
  .input-field textarea:focus + label,
  .input-field input:valid + label,
  .input-field textarea:valid + label {
    top: -25px;
    font-size: 14px;
    padding: 2px 5px;
    background: #196F3D;
    color: #fff;
    border-radius: 4px;
  }
  .section-5 .contact .btn {
    margin-top: 10px;
    background: #1ABC9C;
    color: #fff;
    padding: 12px 24px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.5s;
  }
  .section-5 .contact .btn:hover {
    background: #196F3D;
  }
  
  .quote {
    width: 50%;
    margin-left: auto;
    margin-right: 40px;
    padding-top: 10em;
  
    text-align: center;
    color: whitesmoke;
    padding-top: 10em;
    font-weight: 500;
    font-size: 16px;
  }
  
/* Fin Sección 5 */

/* .izquierda{
    background-color: red;
}

.derecha{
    background-color: black;
} */

.miBorde{
  box-shadow: 0 10px 30px rgb(0 0 0 / 50%);
}

.idioma{
  border-radius: 10px;
}




.rotate-in-center {
	-webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

